aiofiles==0.4.0
aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
autopep8==1.5
beautifulsoup4==4.8.2
chardet==3.0.4
idna==2.9
isort==4.3.21
lxml==4.6.5
mccabe==0.6.1
multidict==4.7.5
pycodestyle==2.5.0
pydocstyle==5.0.2
pyflakes==2.1.1
pylama==7.7.1
snowballstemmer==2.0.0
soupsieve==2.0
yarl==1.4.2
